@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

:root {
    /* Commons */
    --blue: #0171e2;
    --white: #ffffff;
    --green: #32c732;
    --red: #ff6961;
    --purple: #800080;
    --yellow: #ffbf00;

    /* Grays */
    --gray-primary: #f8f9fa; /* Lightest Gray */
    --gray-secondary: #e9ecef; /* Light Gray */
    --gray-third: #dee2e6; /* Medium Light Gray */
    --gray-fourth: #ced4da; /* Medium Gray */
    --gray-fifth: #adb5bd; /* Medium Dark Gray */
    --gray-sixth: #6c757d; /* Dark Gray */
    --gray-seventh: #495057; /* Darker Gray */
    --gray-eighth: #343a40; /* Almost Black Gray */

    /* Blacks */
    --black-primary: #282b30; /* Lightest Black */
    --black-secondary: #36393e; /* Light Black */
    --black-third: #424549; /* Medium Black */
    --black-fourth: #212529; /* Dark Black */
    --black-fifth: #1b1e21; /* Darker Black */
    --black-sixth: #121416; /* Darkest Black */
}

@layer base {
    /* --------------- THEME --------------- */

    .light-theme .prose {
        --tw-prose-headings: var(--gray-12);
        --tw-prose-body: var(--gray-12);
        --tw-prose-bold: var(--gray-12);
        --tw-prose-links: var(--gray-12);
        --tw-prose-code: var(--gray-12);
        --tw-prose-quotes: var(--gray-12);
    }

    .dark-theme {
        --blurBackground: rgb(0 0 0 / 95%);
        --gray1: #101010;
    }

    .dark-theme .prose {
        --tw-prose-headings: var(--gray-12);
        --tw-prose-body: var(--gray-11);
        --tw-prose-bold: var(--gray-11);
        --tw-prose-links: var(--gray-11);
        --tw-prose-code: var(--gray-11);
        --tw-prose-quotes: var(--gray-11);
    }

    .light-theme .prose {
        --tw-prose-headings: var(--gray-12);
    }

    .dark-theme {
        --blurBackground: rgb(0 0 0 / 95%);
    }

    /* --------------- BASICS --------------- */
    body {
        overflow-x: hidden;
        background-color: var(--bg);
    }

    .main-header {
        -webkit-tap-highlight-color: transparent;
    }
}

/* --------------- COMMON --------------- */
.popup-content {
    border-radius: 0.75rem;
    height: auto;
    margin: 5rem 0 5rem 0;
    padding: 10px 5px;
    overflow-y: auto;
}

.popup-overlay {
    overflow: hidden;
}
